/*  Modifiche fatte da me   */

.adestra{
    position: absolute;
    right:0px;}

.adestra2{
    position: absolute;
    right:120px;}

.centralo{
    margin-left: 4%;
    position: relative;
    bottom: 0px;}
  
.footer1{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;

    text-align: center}  

.footer2 {
position: fixed;
min-height: 50px;
bottom: 0;
width: 100%;
border: 1px solid transparent;}    