<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    {% block title %}
    <title>MyApplication</title>
    {% endblock %}
    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static',filename='css/personal.css') }}" rel="stylesheet">
</head>

<body>
    <nav>
        <ul class="navbar" id="dropdownClick">
            <li><a href="/">home</a></li>
            <li><a href="/products">products</a></li>
            <li><a href="/Contact">contact us</a></li>
            <li class="navbar-right"><a href="/signup">sign up</a></li>
            <li class="navbar-right"><a href="/signin">sign in</a></li>
            <li class="dropdownIcon"><a href="javascript:void(0):" onclick="dropdownMenu()">&#9776;</a></li>
        </ul>
    </nav>

    {% block layout %}
    {% endblock %}
    
    <footer class="myfooter">
        <div class="row">
            <div class="col-3 maxwidth">
                <div class="foot-align-left">
                    <ul>
                        <h1>My Application</h1>
                        <h2>Copyright &#x24B8; 2022 MyApplication</h2> 
                        <h2>All rights reserved</h2>
                    </ul>
                </div>            
            </div>
            <div class="col-3 hide">
                <h1>I am the 2nd column</h1>
            </div>
            <div class="col-3 hide">
                <h1>I am the 3rd column</h1>
            </div>
            <div class="col-3 maxwidth">
                <div class="footright">
                    <h1>Follow us:</h1>
                    <ul>
                        <li>
                            <div class="row">
                            <img src="{{ url_for('static',filename='files/facebook.png') }}" alt="">
                            <a href="">Facebook</a>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                            <img src="{{ url_for('static',filename='files/instagram.png') }}" alt="">
                            <a href="">Instagram</a>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                            <img src="{{ url_for('static',filename='files/twitter.png') }}" alt="">
                            <a href="">Twitter</a>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                            <img src="{{ url_for('static',filename='files/youtube.png') }}" alt="">
                            <a href="">Youtube</a>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                            <img src="{{ url_for('static',filename='files/tiktok.png') }}" alt="">
                            <a href="">Tiktok</a>
                            </div>
                        </li>
                    </ul>
                </div>    
            </div>
        </div>
    </footer>


    <script>
        function dropdownMenu(){
            var x = document.getElementById("dropdownClick");
            if (x.className === "navbar"){
                x.className += " responsive";
            } else{
                x.className = "navbar";
            }
        }
    </script>

</body>
</html>