{% extends 'layout.html' %}
{% block title %}
<title>Products</title>
{% endblock %}


{% block layout %}


<p style="color:red;">
  {% with messages = get_flashed_messages(error) %}
      {% if messages %}
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      {% endif %}
  {% endwith %}    
</p>

<h1>Lista dei prodotti disponibili</h1>
<div class="pro-container"> 
  {% for product in product_list %}  
  <div class="col-6">
    <div class="pro-item">
      <h1>{{product.name}}</h1>
      <div class="pro-image">
        <img src="{{product.img_path}}" alt="image not">
      </div>
      
      <h2>{{product.description}}</h2>
      <h3>{{product.price}} €</h3>
      <form>
        <button class="button-red" type="submit" formaction="/deleteproduct/{{product.id}}">Delete</button>
        <button class="button-green" type="submit" formaction="/upgradeproduct/{{product.id}}">Upgrade</button>
     </form>
    </div>
  </div>  
  {% endfor %} 
</div>   
{% endblock %}

