{% extends 'layout.html' %}
{% block title %}
<title>Products</title>
{% endblock %}


{% block layout %}


<p style="color:red;">
  {% with messages = get_flashed_messages(error) %}
      {% if messages %}
          {% for message in messages %}
              {{ message }}
          {% endfor %}
      {% endif %}
  {% endwith %}    
</p>

<h1>Lista dei prodotti disponibili</h1>
{% for product in product_list %}
<div class="pro-item">
    <p>Prodotto:{{product.name}}</p>  
    <p>Categoria:{{product.category}}</p>  
    <p>Descrizione:{{product.description}} </p>
    <p>Prezzo:{{product.price}}€/pz</p>
    <br>
</div>
{% endfor %}
{% endblock %}

