{% extends 'layout.html' %}
{% block title %}
<title>Sign in</title>
{% endblock %}


{% block layout %}
<div class="signup">
        <form  method="post">
          <div>
            <div>
                {{ login_form.username.label  }}
                 {{ login_form.username(class='form-control') }}

              {% for error in login_form.username.errors %}
                <div role="alert">

                  {{ error }}
                </div>
                {% endfor  %}

            </div>
          </div>
         <div>
            <div>
              {{ login_form.password.label  }}
                {{ login_form.password(class='form-control') }}
                 {% for error in login_form.password.errors %}
                <p role="alert">

                  {{ error }}
              </p>
                {% endfor  %}
            </div>
          </div>
        <div>
            <div>
              {{ login_form.remember_me.label  }}
                {{ login_form.remember_me(class='form-control') }}
                 {% for error in login_form.remember_me.errors %}
                <p role="alert">

                  {{ error }}
              </p>
                {% endfor  %}
            </div>
          </div>
         <!-- For success/fail messages -->
        {{ login_form.hidden_tag() }}
            {{ login_form.submit(class='btn btn-primary') }}
        </form>
        <p>Not registered? Go to <a href="/signup">Sign up</a>!</p>
</div>
<!-- Flash Messages-->
{% with messages = get_flashed_messages() %}
  {% if messages %}
    <div>
    {% for message in messages %}
      {{ message }}
    {% endfor %}
    </div>
  {% endif %}
{% endwith %}


<br><br><br><br><br><br><br><br><br><br>



{% endblock %}

